---
import { SITE } from "@/siteConfig";

import Introduction from "@/components/Introduction.astro";
import IconLink from "@/components/IconLink.astro";
import CustomLink from "@/components/CustomLink.astro";
import Countdown from "@/components/Countdown.astro";
---

<Introduction />

<Countdown />

<ul class="grid gap-y-6 pb-12 pt-4 text-center">
  {
    SITE.customLinks.map((link) => {
      const isMateriasPrimerAno = link.title.includes("Materias de Primer Año");
      return (
        <li>
          <CustomLink url={link.url} underline={isMateriasPrimerAno}>{link.title}</CustomLink>
        </li>
      );
    })
  }
</ul>
